.sheduleText {
    font-size: 15px;
}

body {
    background: #4b4b4b;
}

.border {
    border: solid 1px;
    border-color: aliceblue;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: center;
}

body::-webkit-scrollbar {
    width: 12px;
    color: aliceblue;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #1e1e1e;
    border-radius: 5px;
}

.text {
    font-size: 20px;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.chat {
    background-color: gray;
    box-shadow: 3px 3px #000000;
    margin-bottom: 10px;
    height: 95vh;

    overflow: hidden;
    overflow-y: scroll;

}

.pepeBack {
    background-image: url("../../../public/pepe.png");
    background-size: cover;
}

.chat::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: #565454;
    border-radius: 5px;
}

.chatBlock {
    margin-right: 10px;
    width: 60%;
}

.buttons {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px #000000;
    background: #4b4b4b;
    height: 100%;
    padding-bottom: 10px;
}

.buttons button {
    background-color: gray;
    box-shadow: 3px 3px #000000;
    margin: 10px 10px 0 10px;
}

.buttons button:hover {
    box-shadow: none;
    border-color: gray;
}

.buttons button:active {
    background-color: #8e8e8e;
    border-color: #8e8e8e;

}

.input {
    box-shadow: 3px 3px #000000;
    background-color: gray;
    width: 100%;
    margin-right: 10px;
}

.chatInputButton {
    font-size: 18px;
    background-color: gray;
    box-shadow: 3px 3px #000000;
    height: 30px;
}

.chatInputButton:hover {
    box-shadow: none;
    border-color: gray;
}

.chatInputButton:active {
    background-color: #8e8e8e;
    border-color: #8e8e8e;

}

.user {
    background-color: #09722e;
    box-shadow: 3px 3px #000000;

    margin: 10px;
    padding: 10px;
    max-width: 60%;
    width: fit-content;

    margin-left: auto;
    margin-right: 10px;

    border: solid 1px;
    border-color: aliceblue;
    border-radius: 5px 5px 0px 5px;
}

.assistant {
    background-color: #6c0f8e;

    box-shadow: 3px 3px #000000;
    margin: 10px;
    padding: 10px;
    max-width: 60%;
    width: fit-content;

    border: solid 1px;
    border-color: aliceblue;
    border-radius: 5px 5px 5px 0px;
}

.system {
    display: none;
}

.systemMessage {
    text-align: center;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}